<h2> <%= @item.name %> </h2>

<div class='ingredients'>
	<%= @item.ingredients %>
</div>
<div class='description'>
	<%= @item.description %>
</div>
<div class='price'>
	<%= @item.price %>
</div>
<div class='category'>
	<%= @item.category_id %>
</div>
